.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 1em;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav-links li {
  margin: .6em;
}
.nav-item {
  color: white;
}
li.nav-item:hover {
  text-decoration: none;
}
.brand.brand {
  color: rgb(247, 221, 105);
  font-size: 22px;
}
.brand.brand:link {
  text-decoration: none;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.home-item {
  padding: .5em;
}
.add-log-header {
  margin-top: 1em;
}